* { font-family: 'Barlow', system-ui, sans-serif; }

.recharts-cartesian-axis-tick-value {
    font-size: 12px !important;
    fill: #000000 !important;
}
.recharts-cartesian-axis-tick-line { stroke: #000000; stroke-width: 1; }
.recharts-cartesian-axis-line { stroke: #000000; stroke-width: 1; }

.recharts-cartesian-axis-y .recharts-cartesian-axis-line { display: none !important; }
.recharts-cartesian-axis-y line { display: none !important; }


.recharts-cartesian-grid-horizontal line { stroke: #f9fafb; stroke-width: 1; }
.recharts-cartesian-grid-vertical line { stroke: #f9fafb; stroke-width: 1; }

.recharts-bar { stroke-width: 0; }
